#!/bin/sh

mkdir -p build ; cp -R choices build/
rm -r choices

proj_dir=`pwd`
readmeext={{readmeext}}{{^readmeext}}.rst{{/readmeext}}
license={{license}}{{^license}}Apache-2.0{{/license}}
buildtool={{buildtool}}{{^buildtool}}swiftpm{{/buildtool}}
testfrwk={{testfrwk}}{{^testfrwk}}xctest{{/testfrwk}}
executable={{executable}}{{^executable}}no{{/executable}}
ffilib={{ffilib}}{{^ffilib}}none{{/ffilib}}

nesteddirs={{parentcap}}{{^parentcap}}Introswift{{/parentcap}}/{{projectcap}}{{^projectcap}}Util{{/projectcap}}
project={{project}}{{^project}}util{{/project}}
parentcap={{parentcap}}{{^parentcap}}Introswift{{/parentcap}}

cp build/choices/readme/README${readmeext} README${readmeext}
if [ -d build/choices/_parent_readme ] ; then
    cp build/choices/_parent_readme/README${readmeext} \
	    build/choices/_parent_init/README${readmeext} ;
fi

if [ ! 'Not open source' = "${license}" ] ; then
    cp build/choices/license/LICENSE_${license} LICENSE ;
fi

if [ -d build/choices/build_tool ] && [ ! 'swiftpm' = "${buildtool}" ] ; then
	cp -R build/choices/build_tool/${buildtool}/* . ;
elif [ -d build/choices/build_tool ] ; then # default: swiftpm
	cp -R build/choices/build_tool/swiftpm/* . ;
fi

if [ -d build/choices/testfrwk ] && [ ! "xctest" = "${testfrwk}" ] ; then
	cp -R build/choices/testfrwk/${testfrwk}/* . ;
elif [ -d build/choices/testfrwk ] ; then # default: xctest
	cp -R build/choices/testfrwk/xctest/* . ;
fi

if [ -d Sources/${parentcap}/Main ] && [ ! "yes" = "${executable}" ] ; then
    rm Sources/${parentcap}/Main/main.* ;
fi

if [ -d build/choices/ffi_lib ] && [ '' = "$(echo "${ffilib}" | grep -E 'none')" ] ; then
	cp -R build/choices/ffi_lib/${ffilib}/Include/* Include/ ;
	cp -R build/choices/ffi_lib/${ffilib}/Sources/* Sources/${nesteddirs}/ ;
fi

if [ -d '../_templates' ] ; then
	skeletondir={{skeletondir}}{{^skeletondir}}$HOME/Templates/mustache/skeleton-swift{{/skeletondir}} ;
	skel_pardir=`dirname ${skeletondir}` ;
	rm -fr ../_templates/mustache/`basename ${skeletondir}` ;
	mkdir -p ../_templates/mustache ;
	cp -R ${skel_pardir}/render_mustache.* ${skeletondir} ../_templates/mustache/ ;
fi
