# Single package Makefile script.
.SUFFIXES: .s .o .a .swift
help:

PKG_CONFIG = pkg-config --with-path=$(PREFIX)/lib/pkgconfig

pkg = {{projectcap}}{{^projectcap}}Util{{/projectcap}}
parent = {{parentcap}}{{^parentcap}}Introswift{{/parentcap}}
proj = $(parent)_$(pkg)
namespace_path = $(shell echo $(parent) | sed 'y|.|/|')
version = {{version}}{{^version}}0.1.0{{/version}}
somajor = $(shell echo $(version) | cut -d'.' -f1)
sominor = $(shell echo $(version) | cut -d'.' -f2)

BUILD_PATH ?= $(shell pwd)/.build
SWIFTCFLAGS := $(SWIFTCFLAGS) -Xswiftc -I$(PREFIX)/lib # -Xswiftc -DDEBUG
SWIFTLDFLAGS := $(SWIFTLDFLAGS) -Xlinker -L$(PREFIX)/lib # -Xlinker -l$(parent)_Util

build/.depend:
	-@mkdir -p build/bin build/lib/pkgconfig build/share/doc/$(proj)
	-@find src tests -type d -exec mkdir -p build/{} \;
	-cp -fR include resources build/
	-@rm -fr build/lib/pkgconfig/$(proj).pc
	-sed "s|@prefix@|$(PREFIX)|" src/$(proj).pc.in > build/lib/pkgconfig/$(proj).pc
	-@echo '' > build/.depend

.PHONY: build testCompile{{#executable}} run debug valgrind{{/executable}}
build: build/.depend ## compile
	swift build -v --build-path $(BUILD_PATH) $(SWIFTCFLAGS) $(SWIFTLDFLAGS) $(COVERAGEFLAGS) -c $(CONFIG)
testCompile: build/.depend ## compile test
	swift build -v --build-path $(BUILD_PATH) --build-tests $(SWIFTCFLAGS) $(SWIFTLDFLAGS) $(COVERAGEFLAGS) -c debug
{{#executable}}

DEBUGGER = ddd --gdb	# lldb ; ddd --gdb ; gdb
# valgrind tools: memcheck helgrind cachegrind massif lackey
VALGRIND = valgrind --verbose --tool=memcheck

run: ## run main [ARGS=""]
#	export [DY]LD_LIBRARY_PATH=. # ([da|ba|z]sh Linux)
#	setenv [DY]LD_LIBRARY_PATH . # (tcsh FreeBSD)
	-LD_LIBRARY_PATH=$(LD_LIBRARY_PATH):lib swift run -v --build-path $(BUILD_PATH) $(SWIFTCFLAGS) $(SWIFTLDFLAGS) -c $(CONFIG) $(proj)Main $(ARGS)
debug: $(BUILD_PATH)/$(CONFIG)/$(proj)Main ## debug main [ARGS=""]
	-LD_LIBRARY_PATH=$(LD_LIBRARY_PATH):lib $(DEBUGGER) $< -- $(ARGS)
valgrind: $(BUILD_PATH)/$(CONFIG)/$(proj)Main ## valgrind main [ARGS=""]
	-LD_LIBRARY_PATH=$(LD_LIBRARY_PATH):lib $(VALGRIND) $< -- $(ARGS)
{{/executable}}

-include build/.depend ./Makefile-targets.mk
#-include ./Makefile-auxffi.mk
